# Ignore vendor directory
/vendor

# Ignore node_modules directory
/node_modules

# Ignore the .env file
.env

# Ignore compiled application and package files
# /bootstrap/cache
/public/storage
/public/uploads
/public/compiledCssAndJs
node_modules


# Ignore Mac system files
.DS_Store

# Ignore configuration files that may contain sensitive information

# Ignore PHPStorm project settings
.idea/*
.idea

# Ignore Log files and databases
/storage/*.log
/storage/*.sql
/storage/*.sqlite
/storage/api-docs/*

# Ignore Mix files
/mix-manifest.json
/public/hot
/public/mix

# Ignore Laravel Dusk Screenshots
/tests/Browser/screenshots

# Ignore Laravel
